img {
    height: 100px;
    width: 130px;
    margin-right: 10px;
}
.btn-primary {
    background-color: coral !important;
}
.btn-secondary {
    background-color: green !important;
}
h1 {
    text-align: center !important;
    color: green !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
p {
    margin: 10px;
}
body{
    background: url("../lutas.png");
background-size: 80% 80%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    
}